<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link  rel="stylesheet" href="/style.css">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body style="background-image:url(./image/background2.jpg)">
        <div id="app">
        <div class="container-fluid ">
            <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid " style="background-color:#bbffff;"  id="change"> 
                        <div class="navbar-header">
                            <a class="navbar-brand">已登陆</a>
                        </div>
                        <div id="example-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li v-for="list,index in lists" :class="{'active':listIndex===index}" @click="SelectList(index)"><a href="#">{{list.lname}}</a></li>
                                <li v-if="isadd"><a href="#" @click="addBox()">+</a></li>
                                <li><input type="text" v-if="!isadd" v-model="lname" class="form-control" style="width:100px;margin-top:10px;" @keyup.Enter="addList()"></li>
                            </ul>
                        </div>
                        <div class="navbar-header" style="float:right" >
                                <a class="btn btn-primary" style="margin-top:6px" type="button" href="/logout">注销</a>
                                <button class="btn btn-primary pull-right" style="margin-top:6px" @click="changeThemeState()">主题</button>
                        </div>
                    </div>
            </nav>
            <div style="background-color:rgba(0,0,0,0);margin-left:1200px">                
                <ul>
                    <!-- <input type="text" class="aa"><input type="button" value="Search" class="bb"> -->
                    <input type="text" class="form-control" v-model="searchThingInfo"><input type="button" value="Search" class="bb" @click="changeSearchState()">
                </ul>
            </div>
        </div>
        <div>
            <div class="panel-heading " style="background-color:rgba(0,0,0,0.1);" >
                <h1 style="font-family:arial;color:white;font-size:30px;text-align:center;"><strong>{{lists[listIndex].lname}}</strong></h1>
            </div>

            <div style="background-color:rgba(0,0,0,0)" :class="{hiddenClass:searchResultHidden}">
                    搜索结果：                
                    <ul>
                        <li v-for="thing,index in searchResult" style="height:50px;font-size:20px;line-height:50px" v-if="searchThingInfo!=''">
                            <span>{{thing.name}}</span>
                        </li>
                       
                    </ul>
                </div>

                <button class="btn btn-primary pull-right" @click="hiddenFinish()">隐藏/显示</button>

            <div style="background-color:rgba(0,0,0,0);margin-top:50px">
                未完成：                
                <ul>
                    <li v-for="thing,index in lists[listIndex].thing" style="height:50px;font-size:20px;line-height:50px" v-if="thing.done===false">
                        <span>{{thing.name}}</span>
                        <button class="btn btn-primary pull-right" @click="toUp(index)">置顶</button>
                        <button class="btn btn-primary pull-right" @click="changeState(index)">设为已完成</button>
                        <button class="btn btn-primary pull-right" @click="editThing(index)">编辑</button>
                    </li>
                    <li><input type="text" class="form-control" v-model="thingName" @keyup.Enter="addThing()" style="width:80%;"><button class="btn btn-primary" @click="readyEditThing()">确认修改</button></li>
                </ul>
                <!-- <button @click="hiddenFinish()">隐藏已完成</button> -->
            </div>

            <div style="background-color:rgba(0,0,0,0)" :class="{hiddenClass:isHidden}"> 
                    已完成：               
                <ul>
                    <li v-for="thing,index in lists[listIndex].thing" style="height:50px;font-size:20px;line-height:50px" v-if="thing.done===true">
                        <span>{{thing.name}}</span>
                        <button class="btn btn-primary pull-right" @click="toUp(index)">置顶</button>
                        <button class="btn btn-primary pull-right" @click="changeState(index)">设为未完成</button>
                        <button class="btn btn-primary pull-right" @click="editThing(index)">编辑</button>
                    </li>
                    <!-- <li><input type="text" class="form-control" v-model="thingName" @keyup.Enter="addThing()"></li> -->
                </ul>
            </div>

            <!-- <span><input type="text" class="form-control" v-model="thingName" @keyup.Enter="addThing()"></span> -->
        </div>
        </div>
    </body>
    <script src="/vue.js"></script>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                lists:[
                    {
                        lname:'我的一天',
                        thing:[]
                    },{
                        lname:'To-Do',
                        thing:[]
                    } 
                ],
                isadd:true,
                lname:'',
                listIndex:0,
                thingName:'',
                searchThingInfo:'',
                isHidden:false,
                searchResultHidden:true,
                ischange:false
            },
            methods:{
                addBox:function(){
                    this.isadd=false;
                },
                addList:function(){
                    var list={
                        lname:this.lname,
                        thing:[]
                    }
                    this.lists.push(list);
                    this.lname='';
                    this.isadd=true;
                },
                addThing:function(){
                    var thing={
                        name:this.thingName,
                        done:false
                    }
                    this.lists[this.listIndex].thing.push(thing);
                    this.thingName='';
                },
                SelectList:function(index){
                    this.listIndex=index;
                },
                toUp:function(index){
                    var t=this.lists[this.listIndex].thing.splice(index,1)[0];
                    this.lists[this.listIndex].thing.unshift(t);
                },
                hiddenFinish:function(){
                    if(this.isHidden===false){
                        this.isHidden=true;
                    }else{
                        this.isHidden=false;
                    }
                },
                changeState:function(index){
                    if(this.lists[this.listIndex].thing[index].done===false){
                        this.lists[this.listIndex].thing[index].done=true;
                    }else{
                        this.lists[this.listIndex].thing[index].done=false;
                    }
                },
                changeSearchState:function(){
                    if(this.searchResultHidden===false){
                        this.searchResultHidden=true;
                    }else{
                        this.searchResultHidden=false;
                    }
                    this.searchThingInfo='';
                },
                editThing:function(index){
                    this.thingName=this.lists[this.listIndex].thing[index].name;
                    this.thingsIndex=index;
                },
                readyEditThing:function(){
                    this.lists[this.listIndex].thing[this.thingsIndex].name=this.thingName;
                    this.thingName=''; 
                },
                changeThemeState:function(){
                    if(this.ischange===false){
                        document.getElementById("change").style.background=" #7afec6" ;
                        this.ischange = !this.ischange
                    }else(
                        document.getElementById("change").style.background=" #bbffff",
                        this.ischange = !this.ischange
            )
        }, 
       
            },
            computed:{
                searchResult:function(){
                    var searchResult=[];
                    for(let i=0;i<this.lists.length;i++){
                        for(let j=0;j<this.lists[i].thing.length;j++){
                            if(this.lists[i].thing[j].name.search(this.searchThingInfo)!==-1){
                                searchResult.push(this.lists[i].thing[j]);
                            }
                        }
                    }
                    
                    return searchResult;
                }
            },
            		//created
			created() {
                if (localStorage.getItem('tablesBackup')) {
                    this.lists = JSON.parse(localStorage.getItem("tablesBackup"));
                }
            },
            //updated
            updated() {
                localStorage.setItem('tablesBackup', JSON.stringify(this.lists));
				}
            
        })
    </script>
</html>